.heading {
  text-align: center;
  font-size: 32px;
  margin-bottom: 22px;
  font-weight: 700;
}

.grid {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.quote {
  margin-top: 40px;
  font-size: 22px;
  text-align: center;
  color: #4d77ff;
}

.quote span {
  font-size: 16px;
  color: #233048;
}
